<div class="row">
    <div class="col-4">
        <canvas id="covid-vax"></canvas>

    </div>
    <div class="col-4">
        <select id="stateSelector" name="states"></select>

        <canvas id="covid-deaths"></canvas>

        <canvas id="covid-cases"></canvas>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/cdcgraphs.js"></script>