{{!-- <form class="state-search">
    <div class="form-group">
        <label for="state">State Initials</label>
        <input type="input" class="form-control" id="state-input" placeholder="Enter a State">
    </div>
    <button type="submit" class="btn btn-default">search</button>
</form> --}}

<canvas id="covid-deaths"></canvas>
<canvas id="covid-cases"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/cdctest.js"></script>