<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="form-group">
                <select class="custom-select" id="category">
                    <option selected value="">All Categories</option>
                    <option value="General">General</option>
                    <option value="Scheduling First Dose">Scheduling First Dose</option>
                    <option value="Receiving First Dose">Receiving First Dose</option>
                    <option value="Recovering From First Dose">Recovering From First Dose</option>
                    <option value="Receiving Second Dose">Receiving Second Dose</option>
                    <option value="Recovering From Second Dose">Recovering From Second Dose</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-light" href="/members">New Post</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 blog-container">
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="js/getUserStory.js" type="text/javascript"></script>