<div class="container" id="landing-container">
    <div class="split left col-md-6">
        <div id="logo">
        </div>
        <p id="left-text">Track and share </br>
            your Covid-19 </br>
            Vaccination </br>
            Experience</p>
        <a href="/signup" class="signup-btn">Sign Up</a>
    </div>
    <div class="split right col-md-6">
        <p id="right-text">Stay up to date </br>
            with important </br>
            info from the </br>
            CDC</p>
        <a href="/login" class="signup-btn">Log In</a>
    </div>
</div>
<script src="./js/landing.js"></script>