<div class="member-bg">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="navbar-brand" id="logo" src="./assets/img/VaxTrax_logo2.png" alt="Vax Trax logo">

        <button type="submit" class="btn btn-default" id="logout-button"><a class="logout" href="/logout">
                Logout
            </a>
        </button>
        <button type="submit" class="btn btn-default" id="view-stories"><a class="logout" href="/public">
                Get Informed
            </a>
        </button>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="welcome">Welcome <span class="member-name"></span></h2>
            </div>

            <div class="row">
                <!-- Blog form --->
                <div class="col-md-6">
                    {{> postUserStory}}
                </div>
                <div class="col-md-6">
                    {{#each stories}}
                    {{> userStory}}
                    {{/each}}
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <canvas id="covid-vax"></canvas>

                </div>
                <div class="col-md-4">
                    <select id="stateSelector" name="states"></select>
                    <canvas id="covid-cases"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="covid-deaths"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/cdcgraphs.js"></script>
<script type="text/javascript" src="js/members.js"></script>