<div class="member-bg">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="navbar-brand" id="logo" src="./assets/img/VaxTrax_logo2.png" alt="Vax Trax logo">

        <button type="submit" class="btn btn-default" id="logout-button"><a class="logout" href="/logout">
                Logout
            </a>
        </button>
        <button type="submit" class="btn btn-default" id="dash-button"><a class="logout" href="/members">
                Back to Dashboard
            </a>
        </button>
    </nav>
    <!--- CDC recs and Graphs --->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card public-card">
                    <h2 id="cdcDiv">CDC Recommendations</h2>
                    <ul id="left-recs">
                        <li>Get Vaccinated</li>
                        <li>Wear a mask</li>
                        <li>Stay 6 feet away from others</li>
                        <li>Avoid crowds and poorly ventilated spaces</li>
                    </ul>
                    <ul id="right-recs">
                        <li>Wash your hands often</li>
                        <li>cover coughs and sneezes</li>
                        <li>Clean and disinfect</li>
                        <li>Monitor your health daily</li>
                    </ul>
                </div>
            </div>

                <div class="col-md-5">
                    <div class="card graph-card">
                        {{> cdcgraphs}}
                    </div>
                </div>
            <!--- User stories --->
            {{!-- <div class="row">
                {{#each stories}}
                <div class="col-md-4">
                    {{> userStory}}
                </div>
                {{/each}}
            </div> --}}
        </div>

        <div class="row">
            <div class="row stories-row">
                    {{#each stories}}
                    <div class="col-md-12">
                        {{> userStory}}
                    </div>
                    {{/each}}
                </div>

        </div>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>