.bg-gradient-su {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/img/su_bg2.svg), linear-gradient(135deg, #ccd0d8, white);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bg-gradient-login {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/img/login_bg2.svg), linear-gradient(45deg, white, #ccd0d8);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.su-card {
    background-color: #B0DFDF;
    border-radius: 15px;
    padding: 3.5rem;
    margin-top: 7.5rem;
    height: 50rem;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    height: 65rem;
}

.login-card {
    background-color: #B0DFDF;
    border-radius: 15px;
    padding: 3.5rem;
    margin-top: 7.5rem;
    height: 50rem;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#logo {
    height: auto;
    width: 10%;
    margin: 3rem 0 0 3rem;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#password-input, #email-input, #password-confirm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.logsign-btn {
    background: linear-gradient(#64c4c4, #acf7f7);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-radius: 50px;
    margin: auto;
    margin-top: 3.5rem;
    align-items: center;
    display: grid;
    width: 15rem;
    height: 5rem;
    outline: 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}

a:hover {
    color: white;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.login-link {
    color: rgb(107, 126, 129);
}