.member-bg {
    background-image:linear-gradient(135deg, rgb(253, 253, 253), rgb(195, 197, 197));
    /*, url(/assets/img/vax_card.png)*/
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    height: 10%;
}

.navbar {
    background-color: transparent;
}

#logo {
    height: auto;
    width: 7%;
    margin: 3rem 0 0 5rem;
}

#logout-button, #view-stories {
    float: right;
    background: linear-gradient(#64c4c4, #acf7f7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    width: 20rem;
    height: 5rem;
    margin: 5rem 6rem 0 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);

}

.logout {
    color: white;
}

#welcome {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    float: left;
    margin-bottom: 4rem;
}

label {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#doc-ex {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#userPostForm {
    background:linear-gradient(45deg,  #c7f8f8, #e3f0f0);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    margin-left: 3.5rem;
    height: 45rem;
    width:auto;

}

.member-stories {
    background:linear-gradient(45deg,  #c7f8f8, #e3f0f0);
    padding: 2rem;
    overflow: scroll;
    border-radius: 15px 0 0 0;
    margin-left: 1.5rem;
    height: 50rem;
}

#post-head {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
 .story-card {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    margin: 0 0 2rem 3.5rem;
    height: auto;
    width:auto;
 }

 .logsign-btn {
    background: linear-gradient(#64c4c4, #acf7f7);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    margin: auto;
    margin-top: 0rem;
    align-items: center;
    display: grid;
    width: 15rem;
    height: 3rem;
    outline: 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}

.custom-select {
    background-color: #f3fafa;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: .5rem;
    border-radius: 15px;
    box-shadow:5px 5px 5px rgb(107, 126, 129);
}

#select-cat {
    margin-top: 1.5rem;
}

a:hover {
    color: white;
}

.graph-con {
    margin-top: 4rem;
}

#category {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f9fcfc;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #c6c7c7;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #41e6e6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #c6c7c7;
}

#covid-vax, #covid-cases, #covid-deaths {
    color: black;

}

.state-select {
    margin: 3rem 0 3rem 45rem;
    font-weight: bold;
    
}

.form-check {
    margin: 2rem 0 2rem 0;
}

.member-stories {
    height: 40rem;
}

.blog-name {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#covid-stats {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    float: left;
    margin-top: 4rem;
}