.member-bg {
    background-image: url(/assets/img/public_bg2.svg), linear-gradient(135deg, #ccd0d8, white);
    /*, url(/assets/img/vax_card.png)*/
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    height: 10%;
}

.navbar {
    background-color: transparent;
}

#logo {
    height: auto;
    width: 10%;
    margin: 3rem 0 0 3rem;
}

#logout-button {
    float: right;
    background: linear-gradient(#64c4c4, white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    width: 15rem;
    margin: 5rem 6rem 0 0;

}

#dash-button {
    float: right;
    background: linear-gradient(#64c4c4, white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    width: 25rem;
    margin: 5rem 6rem 0 0;

}

.logout {
    color: white;
}

.public-card {
    background-color: #B0DFDF;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    margin-left: 3.5rem;
}

.story-card {
    background-color: #B0DFDF;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}