.member-bg {
    background-image: url(/assets/img/public_bg2.svg), linear-gradient(135deg, #CCD0D8, white);
    /* /, url(/assets/img/vax_card.png)/ */
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    height: 10%;
}
.navbar {
    background-color: transparent;
}

#logo {
    height: auto;
    width: 20%;
    margin: 2rem 0 0 3rem;
}

#logout-button {
    float: right;
    background: linear-gradient(#64c4c4, #acf7f7);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50px;
    width: 14rem;
    height: 4rem;
    margin: 5rem 3rem 0 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}
#dash-button {
    float: right;
    background: linear-gradient(#64C4C4, #ACF7F7);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 50px;
    width: 18rem;
    height: 4rem;
    margin: 1.5rem 2rem 0 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}
.logout {
    color: white;
}
/* .public-card {
    margin-bottom: 4.5rem;
} */
#cdcDiv {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
}
#left-recs {
    float: left;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
#right-recs {
    float: left;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.recs {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.custom-select {
    background-color: #f3fafa;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 14px;
    padding: .5rem;
    border-radius: 15px;
    box-shadow:5px 5px 5px rgb(107, 126, 129);
    width: 75%;
}

#storyFilter {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.story-card {
        color: black;
        font-family: 'Lato', sans-serif;
    font-weight: 400;
        font-weight: bold;
        font-size: 22px;
        padding: 2rem;
        height: auto;
        width: auto;
}
.public-card {
    background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    height: auto;
    width: auto;
    float: left;
}
.graph-card  {
    background: linear-gradient(45deg, #CCD0D8, white);
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    height: auto;
    width:auto;
    margin-bottom: 5rem;
}
.member-stories {
    background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
    padding: 2rem;
    overflow: scroll;
    border-radius: 15px 0 0 0;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
    height: 88rem;
}
.cdc-row{
    margin-bottom: 3rem;
    padding-left: 3rem;
}

#card-info {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    color: #3ca3a3;
}

.state-select {
    margin: 3rem 0 3rem 45rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-weight: bold;
}

#stateSelector {
    width: 75%;
    font-size: 14px;
}

@media screen and (min-width:1200px) {

#logo {
    height: auto;
    width: 8%;
    margin: 3rem 0 0 5rem;
}

#logout-button {
    float: right;
    background: linear-gradient(#64C4C4, #ACF7F7);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 50px;
    width: 18rem;
    height: 5rem;
    margin: 5rem 6rem 0 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}
#dash-button {
    float: right;
    background: linear-gradient(#64C4C4, #ACF7F7);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 50px;
    width: 25rem;
    height: 5rem;
    margin: 5rem 6rem 0 0;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
}
.logout {
    color: white;
}
/* .public-card {
    margin-bottom: 4.5rem;
} */
#cdcDiv {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-align: left;
}
#left-recs {
    float: left;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-left: 2rem
}
#right-recs {
    float: right;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-right: 2rem
}

.recs {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.custom-select {
    background-color: #f3fafa;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem;
    border-radius: 15px;
    box-shadow:5px 5px 5px rgb(107, 126, 129);
}

#storyFilter {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.story-card {
        color: black;
        font-family: 'Lato', sans-serif;
    font-weight: 400;
        font-weight: bold;
        font-size: 22px;
        padding: 2rem;
        height: auto;
        width: auto;
}
.public-card {
    background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    height: auto;
    width: auto;
    float: left;
}
.graph-card  {
    background: linear-gradient(45deg, #CCD0D8, white);
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgb(107, 126, 129);
    height: auto;
    width:auto;
    margin-bottom: 5rem;
}
.member-stories {
    background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
    padding: 2rem;
    overflow: scroll;
    border-radius: 15px 0 0 0;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
    height: 88rem;
}
.cdc-row{
    margin-bottom: 3rem;
    padding-left: 3rem;
}

#card-info {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    color: #3ca3a3;
}

.state-select {
    margin: 3rem 0 3rem 45rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-weight: bold;
}
}

/*@media screen and (min-width:760px) {

    #logo {
        height: auto;
        width: 8%;
        margin: 3rem 0 0 5rem;
    }
    
    #logout-button {
        float: right;
        background: linear-gradient(#64C4C4, #ACF7F7);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        border-radius: 50px;
        width: 18rem;
        height: 5rem;
        margin: 5rem 3rem 0 0;
        box-shadow:5px 5px 10px rgb(107, 126, 129);
    }
    #dash-button {
        float: right;
        background: linear-gradient(#64C4C4, #ACF7F7);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        border-radius: 50px;
        width: 25rem;
        height: 5rem;
        margin: 2rem 6rem 0 0;
        box-shadow:5px 5px 10px rgb(107, 126, 129);
    }
    .logout {
        color: white;
    }

    #cdcDiv {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: left;
    }
    #left-recs {
        float: left;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-left: 2rem
    }
    #right-recs {
        float: right;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-right: 2rem
    }
    
    .recs {
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }
    
    .custom-select {
        background-color: #f3fafa;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-weight: bold;
        font-size: 18px;
        padding: .5rem;
        border-radius: 15px;
        box-shadow:5px 5px 5px rgb(107, 126, 129);
    }
    
    #storyFilter {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        text-align: center;
    }
    
    .story-card {
            color: black;
            font-family: 'Lato', sans-serif;
        font-weight: 400;
            font-weight: bold;
            font-size: 22px;
            padding: 2rem;
            height: auto;
            width: auto;
    }
    .public-card {
        background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-weight: bold;
        font-size: 20px;
        padding: 2rem;
        border-radius: 15px;
        box-shadow:5px 5px 10px rgb(107, 126, 129);
        height: auto;
        width: auto;
        float: left;
    }
    .graph-card  {
        background: linear-gradient(45deg, #CCD0D8, white);
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-weight: bold;
        font-size: 20px;
        padding: 2rem;
        border-radius: 15px;
        box-shadow:5px 5px 10px rgb(107, 126, 129);
        height: auto;
        width:auto;
        margin-bottom: 5rem;
    }
    .member-stories {
        background:linear-gradient(45deg,  #C7F8F8, #E3F0F0);
        padding: 2rem;
        overflow: scroll;
        border-radius: 15px 0 0 0;
        margin-left: 1.5rem;
        margin-bottom: 5rem;
        height: 88rem;
    }
    .cdc-row{
        margin-bottom: 3rem;
        padding-left: 3rem;
    }
    
    #card-info {
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    
    a:hover {
        color: #3ca3a3;
    }
    
    .state-select {
        margin: 3rem 0 3rem 45rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        font-weight: bold;
    }
    }*/